<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.scada.core.ui.connection.login.context">
      <context
            label="Sample Context (scada.eclipse.org)"
            id="org.eclipse.scada.samples.demo1.client.scada.eclipse.org">
         <factory
               class="org.eclipse.scada.core.ui.connection.login.factory.ConnectionLoginFactory">
         </factory>
         <connection
               authUseCallbacks="true"
               uri="da:ngp://scada.eclipse.org:2101?session.privilege.developer=true&amp;session.privilege.admin=true&amp;session.privilege.operator=true"
               autoReconnectDelay="10000"
               mode="NORMAL">
            <registration
                  servicePid="connection.da.main">
            </registration>
         </connection>
         <connection
               authUseCallbacks="true"
               uri="ae:ngp://scada.eclipse.org:2201"
               autoReconnectDelay="10000"
               mode="NORMAL">
            <registration
                  servicePid="connection.ae.main">
            </registration>
         </connection>
         <connection
               authUseCallbacks="true"
               uri="hd:ngp://scada.eclipse.org:2302"
               autoReconnectDelay="10000"
               mode="OPTIONAL">
            <registration
                  servicePid="connection.hd.main">
            </registration>
         </connection>
      </context>
 	<context
            label="Sample Context (demo.openscada.org)"
            id="org.eclipse.scada.samples.demo1.client.demo.openscada.org">
         <factory
               class="org.eclipse.scada.core.ui.connection.login.factory.ConnectionLoginFactory">
         </factory>
         <connection
               authUseCallbacks="true"
               uri="da:ngp://demo.openscada.org:2101?session.privilege.developer=true&amp;session.privilege.admin=true&amp;session.privilege.operator=true"
               autoReconnectDelay="10000"
               mode="NORMAL">
            <registration
                  servicePid="connection.da.main">
            </registration>
         </connection>
         <connection
               authUseCallbacks="true"
               uri="ae:ngp://demo.openscada.org:2201"
               autoReconnectDelay="10000"
               mode="NORMAL">
            <registration
                  servicePid="connection.ae.main">
            </registration>
         </connection>
         <connection
               authUseCallbacks="true"
               uri="hd:ngp://demo.openscada.org:2302"
               autoReconnectDelay="10000"
               mode="OPTIONAL">
            <registration
                  servicePid="connection.hd.main">
            </registration>
         </connection>
      </context>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.scada.samples.demo1.client.nosession">
         <and>
            <not>
               <with
                     variable="org.eclipse.scada.core.ui.connection.login.sessionState">
                  <equals
                        value="loggedIn">
                  </equals>
               </with>
            </not>
         </and>
      </definition>
      <definition
            id="org.eclipse.scada.samples.demo1.client.hassession">
         <and>
            <with
                  variable="org.eclipse.scada.core.ui.connection.login.sessionState">
               <equals
                     value="loggedIn">
               </equals>
            </with>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.scada.ae.ui.views.configuration">
      <monitorView
            label="All Alarms"
            monitorQueryId="monitors.not_ok"
            connectionString="connection.ae.main"
            connectionType="ID"
            id="org.eclipse.scada.samples.demo1.client.monitors.not_ok">
      </monitorView>
      <monitorView
            label="Acknowledge required"
            monitorQueryId="monitors.ack_required"
            connectionString="connection.ae.main"
            connectionType="ID"
            id="org.eclipse.scada.samples.demo1.client.monitors.ack_required">
      </monitorView>
      <monitorView
            label="Only active warnings"
            monitorQueryId="monitors.warning.not_ok"
            connectionString="connection.ae.main"
            connectionType="ID"
            id="org.eclipse.scada.samples.demo1.client.monitors.warning.not_ok">
      </monitorView>
      <monitorView
            label="Only active alarms"
            monitorQueryId="monitors.alarm.not_ok"
            connectionString="connection.ae.main"
            connectionType="ID"
            id="org.eclipse.scada.samples.demo1.client.monitors.alarm.not_ok">
      </monitorView>
      <eventPoolView
            label="Latest Events"
            maxNumberOfEvents="20000"
            monitorQueryId="monitors.not_ok"
            connectionString="connection.ae.main"
            columnInformationDefinition="defaultConfiguration"
            eventPoolQueryId="events.all"
            connectionType="ID"
            id="org.eclipse.scada.samples.demo1.client.events.all">
      </eventPoolView>
      <eventHistoryView
            label="Query Historic Events"
            connectionString="connection.ae.main"
            columnInformationDefinition="defaultConfiguration"
            connectionType="ID"
            id="org.eclipse.scada.samples.demo1.client.eventhistoryview">
      </eventHistoryView>
      <alarmNotifier
            soundFile="resources/alert.wav"
            prefix="ae.server.info"
            connectionId="connection.da.main">
         <ackAlarmsAvailableCommand
               id="org.eclipse.scada.ui.utils.showView">
            <parameter
                  name="org.eclipse.scada.ui.utils.showView.viewId"
                  value="org.eclipse.scada.ae.ui.views.views.monitors:org.eclipse.scada.samples.demo1.client.monitors.ack_required">
            </parameter>
         </ackAlarmsAvailableCommand>
         <alarmsAvailableCommand
               id="org.eclipse.scada.ui.utils.showView">
            <parameter
                  name="org.eclipse.scada.ui.utils.showView.viewId"
                  value="org.eclipse.scada.ae.ui.views.views.monitors:org.eclipse.scada.samples.demo1.client.monitors.not_ok">
            </parameter>
         </alarmsAvailableCommand>
      </alarmNotifier>
      <columnInformationDefinition
            id="defaultConfiguration">
         <columnInformation
               label="Source Timestamp"
               type="sourceTimestamp"
               initialSize="120"
               sortable="true">
         </columnInformation>
         <columnInformation
               label="Event Type"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="decoration"
                  value="MONITOR">
            </columnParameter>
            <columnParameter
                  key="key"
                  value="eventType">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Value"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="value">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Monitor Type"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="monitorType">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Item"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="item">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Item Description"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="itemDescription">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Message"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="message">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Actor Name"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="actorName">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Actor Type"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="decoration"
                  value="ACTOR">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Priority"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="priority">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Source"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="source">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Hive"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="hive">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="System"
               type="variant"
               initialSize="120"
               sortable="false">
            <columnParameter
                  key="key"
                  value="system">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 0"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.0">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 1"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.1">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 2"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.2">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 3"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.3">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 4"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.4">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 5"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.5">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 6"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.6">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 7"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.7">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 8"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.8">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Level 9"
               type="variant"
               initialSize="90"
               sortable="false">
            <columnParameter
                  key="key"
                  value="level.9">
            </columnParameter>
         </columnInformation>
         <columnInformation
               label="Entry Timestamp"
               type="entryTimestamp"
               initialSize="120"
               sortable="true">
         </columnInformation>
      </columnInformationDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=file">
         <menu
               label="Alarms">
            <command
                  commandId="org.eclipse.scada.ui.utils.showView"
                  label="All &amp;Alarms"
                  style="push">
               <parameter
                     name="org.eclipse.scada.ui.utils.showView.viewId"
                     value="org.eclipse.scada.ae.ui.views.views.monitors:org.eclipse.scada.samples.demo1.client.monitors.not_ok">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.scada.ui.utils.showView"
                  label="A&amp;cknowledge required"
                  style="push">
               <parameter
                     name="org.eclipse.scada.ui.utils.showView.viewId"
                     value="org.eclipse.scada.ae.ui.views.views.monitors:org.eclipse.scada.samples.demo1.client.monitors.ack_required">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.scada.ui.utils.showView"
                  label="Only active warnings"
                  style="push">
               <parameter
                     name="org.eclipse.scada.ui.utils.showView.viewId"
                     value="org.eclipse.scada.ae.ui.views.views.monitors:org.eclipse.scada.samples.demo1.client.monitors.warning.not_ok">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.scada.ui.utils.showView"
                  label="Only active alarms"
                  style="push">
               <parameter
                     name="org.eclipse.scada.ui.utils.showView.viewId"
                     value="org.eclipse.scada.ae.ui.views.views.monitors:org.eclipse.scada.samples.demo1.client.monitors.alarm.not_ok">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.scada.ui.utils.showView"
                  label="&amp;Latest Events"
                  style="push">
               <parameter
                     name="org.eclipse.scada.ui.utils.showView.viewId"
                     value="org.eclipse.scada.ae.ui.views.views.eventpool:org.eclipse.scada.samples.demo1.client.events.all">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.scada.ui.utils.showView"
                  label="Query &amp;Historic Events"
                  style="push">
               <parameter
                     name="org.eclipse.scada.ui.utils.showView.viewId"
                     value="org.eclipse.scada.ae.ui.views.views.eventhistory:org.eclipse.scada.samples.demo1.client.eventhistoryview">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.scada.core.ui.connection.login.verticalTrim">
         <control
               class="org.eclipse.scada.ae.ui.views.contributions.AlarmNotifier">
         </control>
      </menuContribution>
   </extension>
 <extension
         point="org.eclipse.scada.vi.details.detailView">
      <detailView
            id="org.eclipse.scada.details.node">
         <class
               class="org.eclipse.scada.vi.details.swt.impl.DetailViewImpl">
            <parameter
                  name="uri"
                  value="platform:/plugin/org.eclipse.scada.samples.demo1.client/resources/details/node.detailview">
            </parameter>
         </class>
      </detailView>
      <detailView
            id="org.eclipse.scada.details.arduino">
         <class
               class="org.eclipse.scada.vi.details.swt.impl.DetailViewImpl">
            <parameter
                  name="uri"
                  value="platform:/plugin/org.eclipse.scada.samples.demo1.client/resources/details/arduino.detailview">
            </parameter>
         </class>
      </detailView>
      <detailView
            id="org.eclipse.scada.details.fortiss">
         <class
               class="org.eclipse.scada.vi.details.swt.impl.DetailViewImpl">
            <parameter
                  name="uri"
                  value="platform:/plugin/org.eclipse.scada.samples.demo1.client/resources/details/fortiss.detailview">
            </parameter>
         </class>
      </detailView>
      <detailView
            id="org.eclipse.scada.details.greenhouse">
         <class
               class="org.eclipse.scada.vi.details.swt.impl.DetailViewImpl">
            <parameter
                  name="uri"
                  value="platform:/plugin/org.eclipse.scada.samples.demo1.client/resources/details/greenhouse.detailview">
            </parameter>
         </class>
      </detailView>
      <detailView
            id="org.eclipse.scada.details.sprat">
         <class
               class="org.eclipse.scada.vi.details.swt.impl.DetailViewImpl">
            <parameter
                  name="uri"
                  value="platform:/plugin/org.eclipse.scada.samples.demo1.client/resources/details/sprat.detailview">
            </parameter>
         </class>
      </detailView>
   </extension>
   <extension
         point="org.eclipse.scada.vi.ui.user.viewer">
      <viewerExtension
            location="LEFT"
            align="FILL"
            id="org.eclipse.scada.samples.demo1.client.main.navigator">
         <class
               class="org.eclipse.scada.vi.ui.user.viewer.ext.ToolBarNavigatorExtension">
         </class>
      </viewerExtension>
      <viewerExtension
            location="TOP"
            align="FILL"
            id="org.eclipse.scada.samples.demo1.client.main.breadcrumbs">
         <class
               class="org.eclipse.scada.vi.ui.user.viewer.ext.BreadcrumbNavigatorExtension">
         </class>
      </viewerExtension>
      <viewerExtension
            location="TOP"
            align="END"
            id="org.eclipse.scada.samples.demo1.client.main.sep1">
         <class
               class="org.eclipse.scada.vi.ui.user.viewer.ext.SeparatorExtension">
            <parameter
                  name="invisible"
                  value="true">
            </parameter>
         </class>
      </viewerExtension>
      <viewerExtension
            location="TOP"
            align="FILL"
            id="org.eclipse.scada.samples.demo1.client.main.message">
         <class
               class="org.eclipse.scada.vi.ui.viewer.ext.item.SystemMessageExtension">
            <parameter
                  name="connectionId"
                  value="connection.da.main">
            </parameter>
            <parameter
                  name="itemId"
                  value="ES.DEMO.SYS.MSG.V">
            </parameter>
         </class>
      </viewerExtension>
      <viewerExtension
            align="END"
            id="org.eclipse.scada.samples.demo1.client.time"
            location="TOP">
         <class
               class="org.eclipse.scada.vi.ui.viewer.ext.item.ItemExtension">
            <parameter
                  name="connectionId"
                  value="connection.da.main">
            </parameter>
            <parameter
                  name="itemId"
                  value="ES.DEMO.SYS.TIME.V">
            </parameter>
         </class>
      </viewerExtension>
      <viewerExtension
            location="TOP"
            align="END"
            id="org.eclipse.scada.samples.demo1.client.main.logo">
         <class
               class="org.eclipse.scada.vi.ui.viewer.ext.image.ImageExtension">
            <parameter
                  name="url"
                  value="platform:/plugin/org.eclipse.scada.samples.demo1.client/resources/customerLogo.png">
            </parameter>
         </class>
      </viewerExtension>
      <viewerExtension
            location="TOP"
            align="END"
            id="org.eclipse.scada.samples.demo1.client.main.debug">
         <class
               class="org.eclipse.scada.vi.ui.user.viewer.ext.DebugActionExtension">
         </class>
      </viewerExtension>
   </extension>
   <extension
         point="org.eclipse.scada.vi.ui.user.view">
      <viewInstance
            defaultInstance="true"
            factoryClass="org.eclipse.scada.vi.ui.user.VisualInterfaceFactory"
            id="org.eclipse.scada.samples.demo1.client.placeholder"
            mainView="true"
            name="Logon"
            order="10"
            resource="resources/views/placeholder.vi"
            zooming="false">
         <visibility>
            <reference
                  definitionId="org.eclipse.scada.samples.demo1.client.nosession">
            </reference>
         </visibility>
      </viewInstance>
      <viewInstance
            defaultInstance="true"
            factoryClass="org.eclipse.scada.vi.ui.user.VisualInterfaceFactory"
            id="org.eclipse.scada.samples.demo1.client.main"
            mainView="true"
            name="Main"
            order="10"
            resource="resources/views/main.vi"
            zooming="false">
         <visibility>
            <reference
                  definitionId="org.eclipse.scada.samples.demo1.client.hassession">
            </reference>
         </visibility>
      </viewInstance>
      <viewInstance
            defaultInstance="true"
            factoryClass="org.eclipse.scada.vi.ui.user.VisualInterfaceFactory"
            id="org.eclipse.scada.samples.demo1.client.drugiSprat"
            mainView="true"
            name="Drugi sprat"
            order="20"
            resource="resources/views/drugiSprat.vi"
            zooming="false">
         <visibility>
            <reference
                  definitionId="org.eclipse.scada.samples.demo1.client.hassession">
            </reference>
         </visibility>
      </viewInstance>
      <viewInstance
            defaultInstance="true"
            factoryClass="org.eclipse.scada.vi.ui.user.VisualInterfaceFactory"
            id="org.eclipse.scada.samples.demo1.client.prizemlje"
            mainView="true"
            name="Prizemlje"
            order="30"
            resource="resources/views/prizemlje.vi"
            zooming="false">
         <visibility>
            <reference
                  definitionId="org.eclipse.scada.samples.demo1.client.hassession">
            </reference>
         </visibility>
      </viewInstance>
      <viewInstance
            defaultInstance="false"
            factoryClass="org.eclipse.scada.vi.ui.user.VisualInterfaceFactory"
            id="org.eclipse.scada.samples.demo1.client.borders"
            mainView="true"
            name="Borders"
            order="40"
            resource="resources/views/borders.vi">
      </viewInstance>
      <viewInstance
            defaultInstance="false"
            factoryClass="org.eclipse.scada.vi.ui.user.VisualInterfaceFactory"
            id="org.eclipse.scada.samples.demo1.client.shapes"
            mainView="true"
            name="Shapes"
            order="50"
            resource="resources/views/shapes.vi">
      </viewInstance>
   </extension>

</plugin>
